// HTML STYLES
body,html {
  margin:0;
  padding:0;
}
html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #FF0000;
}
body {
  background: #c7c7c7;
}
header {
  position: fixed;
  z-index: 200;
  text-align: center;
}
ul {
  list-style-type: none;
}

// GENERAL WIDTH STYLES
.one-whole {
  width: 100%;
}
.one-half {
  width: 50%;
}
.one-third {
  width: 33.333333%
}
.one-quarter {
  width: 25%;
}
.one-fifth {
  width: 20%;
}

// CONTAINER STYLES
.page-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  text-align: center;
}
.page-container > * {
  padding: 0 10px 0 10px;
  -webkit-flex: 1 100%;
  flex: 1 100%;
}
.index-container {
  margin-top: 70px;
}
.skill-container {
  margin-left: 6%;
  text-align: center;
}
.contact-page-container {
  background: #fff;
  padding-top: 5%;
}
.contact-form-container {
  background: #fff;
  padding-top: 5%;
}
.contact-info-container {
  padding-left: 10%;
  padding-top: 5%;
  background: #fff;
}
.return-home-container {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 2%;
}
.about-section-container {
  background: #fff;
}
.alert-container {
  padding-right: 6.3%;
}
.portfolio-container {
  padding-top: 100px;
  background: #fff;
}
.project-container {
  margin-bottom: 5rem;
}
.privacy-container {
  padding-top: 100px;
  background: #000;
}
.mobile-menu-container {
  color: #fff;
}

// PRIVACY POLICY STYLES
.privacy-header {
  margin-bottom: 2rem;
}
.privacy-body {
  padding-left: 15%;
  padding-right: 15%;
  font-size: 1.3rem;
  margin-bottom: 0;
  padding-bottom: 3rem;
}

// MISC STYLES
.hyphen {
  font-size: 1.5rem;
}
.return-home {
  font-family: Oswald;
  color: #36787c;
  transition: ease .5s;
}
.return-home:hover, .footer-links:hover {
  color: #50cad2;
}

// HEADER STYLES
.mobile-header {
  display: none;
}
.mobile-menu {
  font-family: Oswald;
  font-size: 1.2rem;
}
.w3-container {
  padding-top: 25px !important;
}
.w3-dropdown-content {
  left: -80% !important;
}
.w3-bar-block .w3-bar-item {
  font-family: Oswald !important;
  text-align: center !important;
}
.w3-dropdown-hover:first-child, .w3-dropdown-click:hover {
  background-color: #000 !important;
  color: #fff !important;
}
.site-header {
  background: #000;
  height: 70px;
}
.header-icon {
  padding: 10px;
  float: left;
}
.navbar-items {
  color: #fff;
  display: inline-block;
  margin: 18px;
  font-family: Oswald;
  font-size: 20px;
  -webkit-transition: font-size.5s; /* Safari */
  transition: ease .5s;
}
.navbar-items:hover {
  transform:scale(.9);
  color: #50cad2;
}
.navbar-code {
  color: #fff;
  float: left;
  font-size: 40px;
  padding: 10px;
}
.navbar-bracket {
  color: #fff;
  font-family: Oswald;
  font-style: normal;
  padding: 0 10px 0 10px;
  font-size: 37px;
  font-weight: 900;
}
header.scroll {
  background-color: #A1572F;
  color: #eef;
}

// INDEX STYLES
.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;
}
.section {
  position: relative;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}
.section2 {
  position: relative;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}
.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0px;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}
.static {
  background: #36787c;
}
.parallax-quote {
  margin-top: 14rem;
}
.parallax-quote2 {
  margin-top: 3rem;
}
.bg1::after {
  background-image: url('/images/frontiers-background-full.jpg');
}
.bg2::after {
  background-image: url('/images/feel-the-force-background-super.jpg');
}
.index-banner {
  background-image: url("/images/frontiers-background-full.jpg");
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.skills-row {
  margin-bottom: 4%;
}
.skills-icon {
  font-size: 55px;
  color: #fff;
  margin-bottom: 10px;
}
.progress-bar {
  background-color: #2e3f4b;
}
.skills-section {
  background-color: #36787c;
  text-align: center;
}
.skills-header {
  font-family: inherit;
  color: #fff;
  margin-bottom: 3%;
  margin-top: 3%;
  font-size: 45px;
  letter-spacing: 6px;
  text-transform: uppercase;
}
.skills-text {
  font-size: 45px;
  font-family: Oswald;
  font-weight: normal;
}
.experience-section {
  background: #fff;
}
.experience-header, .experience-quote {
  font-family: inherit;
  color: #525252;
  font-size: 45px;
  letter-spacing: 4px;
  margin-top: 3%;
}
.experience-subtext {
  font-family: inherit;
  font-style: italic;
  font-size: 15px;
  font-weight: 600;
}
.experience-button {
  margin-top: 3%;
  background: #36787c;
  color: #fff;
  font-family: inherit;
  font-size: 25px;
  transition: ease .5s;
}
.experience-button:hover, .contact-submit:hover {
  background: #50cad2;
}
.experience-quote {
  font-size: 20px;
  letter-spacing: 1px;
}

// CONTACT STYLES
.contact-form {
  margin: 0 auto;
  width: 75%;
}
.contact-submit {
  margin-top: 3%;
  margin-bottom: 3%;
  background: #36787c;
  color: #fff;
  font-family: inherit;
  font-size: 20px;
  transition: ease .5s;
}
.contact-form-row {
  margin-bottom: 3%;
}
.input-margin {
  padding-right: 10px;
}
.contact-info-list {
  padding-left: 20%;
  text-align: left;
}
.has-error {
  font-size: 10px;
  color: red;
}
.alert-success {
  float: right;
  width: 40.2%;
}

// ABOUT STYLES
.about-details {
  padding: 4rem 10rem 1rem 10rem;
  text-align: justify;
  font-size: 1.2rem;
}
.single-project {
  margin-bottom: 1rem;
}
.about-picture {
  width: 15%;
  padding-top: 5rem;
}
.about-header {
  margin-bottom: 4rem;
}
.links {
  color: #36787c;
  transition: ease .5s;
}
.links:hover {
  color: #50cad2;
}
.header-quote {
  font-size: 3rem;
}
.header-claim {
  font-size: 2rem;
  font-weight: bold;
}

// PORTFOLIO STYLES
.portfolio-header {
  margin-bottom: 4rem;
}
.project-img {
  transition: ease .5s;
}
.project-img:hover {
  transform:scale(1.05);
}
.project-title {
  font-family: Oswald;
  font-size: 1rem;
}
.project-description {
  padding-right: 25%;
  padding-left: 25%;
  text-align: justify;
  margin-top: 1rem;
}

// FOOTER STYLES
.site-footer {
  color: #fff;
  font-family: Oswald;
  background: #000;
}
.footer-content {
  padding-top: 8px;
}
.footer-links {
  color: #fff;
  transition: ease .5s;
}

// MOBILE MEDIA QUERIES
@media screen and (max-width: 414px) {
  .desktop-header {
    display: none;
  }
  .mobile-header {
    display: block;
  }
  .parallax::after {
    bottom: -114px;
  }
  .section {
    height: 279px;
  }
  .section2 {
    height: 279px;
  }
  .parallax-quote {
    margin-top: 12rem;
    font-size: 1.24rem;
  }
  .parallax-quote2 {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  .hyphen {
    font-size: 1rem;
  }
  .skill-container {
    width: 88%;
    padding-bottom: 25px;
  }
  .skills-row {
    margin-bottom: 0;
  }
  .about-picture {
    width: 30%;
    padding-top: 6rem;
  }
  .about-details {
    padding: 2rem 2rem 1rem 2rem;
    text-align: justify;
  }
  .projects-list {
    padding-left: 0;
  }
  .contact-page-container {
    padding-top: 20%;
  }
  .contact-info-container {
    width: 100%;
    padding-left: 0;
  }
  .contact-info-list {
    padding-left: 13%;
    padding-right: 13%;
    text-align: justify;
  }
  .contact-form-container {
    width: 100%;
  }
  .project-container {
    width: 100%;
  }
  .project-description {
    padding-right: 10%;
    padding-left: 10%;
  }
  .project-img {
    width: 80%;
  }
  .intro, .logo {
    left: 74%;
  }
  .titles {
    left: 106%;
    width: 10em !important;
    bottom: -55px !important;
  }
}